   
<h2>Datos Tiendas</h2>
<a href="~/Tiendas/ForumularioTiendas" type="button" class="btn btn-primary">Nueva Tienda</a>
<table class="table table-hover">
    <tr>
        <th>Tienda Departamento</th>
        <th>No. Tienda</th>
        <th>Nombre Tienda</th>
        <th>Direccion Tienda</th>
        <th>Serie PC</th>
       
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DeptoTienda</td>
            <td>@item.NoTienda</td>
            <td>@item.NombreTienda</td>
            <td>@item.DireccionTienda</td>
            <td>@item.Maquinas.SeriePC</td>
            
            <td><a href="~/Tiendas/ForumularioTiendas?ID_Tienda=@item.ID_Tienda" class="btn btn-info">Editar</a></td>
            <td><a href="~/Tiendas/Eliminar?ID_Tienda=@item.ID_Tienda" class="btn btn-warning">Baja</a></td>
        </tr>
    }
</table>
