
@{
    ViewBag.Title = "FormularioContratos";
}

<h2>FormularioContratos</h2>

<script>

    var urlGuardarContrato = '@Url.Action("guardarContratos", "Contratos")';

</script>

<script src="~/Scripts/guardarContratos.js"></script>
<div class="row">
    <div class="col-md-3">
        <label>Producto</label>
        @if (ViewBag.contra != null)
        {
            <input type="text" id="producto_contrato" name="producto_contrato" class="form-control" value="@ViewBag.contra.producto_contrato" pattern="[a-zA-Z0-9\s]+" required />
        }
        else
        {
            <input type="text" id="producto_contrato" name="producto_contrato" class="form-control" pattern="[a-zA-Z0-9\s]+" required />
        }
    </div>

    <div class="col-md-3">
        <label>Descripción</label>
        @if (ViewBag.contra != null)
        {
            <input type="text" id="descripcion" name="descripcion" class="form-control" value="@ViewBag.contra.descripcion" pattern="[a-zA-Z0-9\s]+" required />
        }
        else
        {
            <input type="text" id="descripcion" name="descripcion" class="form-control" pattern="[a-zA-Z0-9\s]+" required />
        }
    </div>

    <div class="col-md-3">
        <label>Serie</label>
        @if (ViewBag.contra != null)
        {
            <input type="text" id="serie" name="serie" class="form-control" value="@ViewBag.contra.serie" pattern="[a-zA-Z0-9\s]+" required />
        }
        else
        {
            <input type="text" id="serie" name="serie" class="form-control" pattern="[a-zA-Z0-9\s]+" required />
        }
    </div>

    <div class="col-md-3">
        <label>Destino</label>
        @if (ViewBag.contra != null)
        {
            <input type="text" id="destino" name="destino" class="form-control" value="@ViewBag.contra.destino" pattern="[a-zA-Z0-9\s]+" required />
        }
        else
        {
            <input type="text" id="destino" name="destino" class="form-control" pattern="[a-zA-Z0-9\s]+" required />
        }
    </div>

    <div class="col-md-3">
        <label>Comentarios</label>
        @if (ViewBag.contra != null)
        {
            <input type="text" id="comentarios" name="comentarios" class="form-control" value="@ViewBag.contra.comentarios" pattern="[a-zA-Z0-9\s]+" required />
        }
        else
        {
            <input type="text" id="comentarios" name="comentarios" class="form-control" pattern="[a-zA-Z0-9\s]+" required />
        }
    </div>

    <div class="col-md-3">
        <label>Fecha de Surtido</label>
        @if (ViewBag.contra != null)
        {
            <input type="date" id="fecha_surtido" name="fecha_surtido" class="form-control" value="@((ViewBag.contra.fecha_surtido != null) ? ViewBag.contra.fecha_surtido.ToString("yyyy-MM-dd") : string.Empty)" required />
        }
        else
        {
            <input type="date" id="fecha_surtido" name="fecha_surtido" class="form-control" required />
        }
    </div>

    <div class="col-md-3">
        <label>Recibió</label>
        @if (ViewBag.contra != null)
        {
            <input type="text" id="recibio" name="recibio" class="form-control" value="@ViewBag.contra.recibio" pattern="[a-zA-Z0-9\s]+" required />
        }
        else
        {
            <input type="text" id="recibio" name="recibio" class="form-control" pattern="[a-zA-Z0-9\s]+" required />
        }
    </div>

    <div class="col-md-3">
        <label>Folio de Pedido</label>
        @if (ViewBag.contra != null)
        {
            <input type="text" id="Folio_pedido" name="Folio_pedido" class="form-control" value="@ViewBag.contra.Folio_pedido" pattern="[a-zA-Z0-9\s]+" required />
        }
        else
        {
            <input type="text" id="Folio_pedido" name="Folio_pedido" class="form-control" pattern="[a-zA-Z0-9\s]+" required />
        }
    </div>

    <div class="col-md-3">
        <label>Fecha de Pedido</label>
        @if (ViewBag.contra != null)
        {
            <input type="date" id="fecha_pedido" name="fecha_pedido" class="form-control" value="@ViewBag.contra.fecha_pedido" pattern="[a-zA-Z0-9\s]+" required />
        }
        else
        {
            <input type="date" id="fecha_pedido" name="fecha_pedido" class="form-control" pattern="[a-zA-Z0-9\s]+" required />
        }
    </div>

    <label>Serie PC</label>
    <select class="form-select mb-md-3" id="SeriePC" name="SeriePC">
        <option value="0"> Seleccionar </option>
        @foreach (var item in ViewBag.Maquinas)
        {

            if (ViewBag.contra != null)
            {

                if (ViewBag.contra.SeriePC == item.SeriePC)
                {
                    <option value="@item.SeriePC" selected>@item.SeriePC</option>
                }

                else
                {
                    <option value="@item.SeriePC">@item.SeriePC</option>
                }

            }
            else
            {
                <option value="@item.SeriePC">@item.SeriePC</option>
            }

        }
    </select>
</div>

<br />
<div class="row">
    <div class="col-md-2">
        <a href="javascript:guardarContratos()" class="btn btn-success">Alta</a>
    </div>
</div>

