
@{
    ViewBag.Title = "DatosMaquinas";
}

<h2>DatosMaquinas</h2>


<a href="~/Maquinas/FormularioMaquinas" type="button" class="btn btn-primary">Nueva Maquina</a>


<table class="table table-hover">
    <tr>
        <th>Conteo</th>
        <th>Contratos</th>
        <th>Producto</th>
        <th>SeriePC</th>
        <th>Destino</th>
        <th>Asignada</th>
        <th>Estatus</th>
        <th>NombreUsuarioPuesto</th>
        <th>NoCartaCustodia</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Conteo</td>
            <td>@item.Contratos</td>
            <td>@item.Producto</td>
            <td>@item.SeriePC</td>
            <td>@item.Destino</td>
            <td>@item.Asignada</td>
            <td>@item.Estatuss</td>
            <td>@item.NombreUsuarioPuesto</td>
            <td>@item.NoCartaCustodia</td>

            <td><a href="~/Maquinas/FormularioMaquinas?Conteo=@item.Conteo" class="btn btn-info">Editar</a></td>
            <td><a href="~/Maquinas/Eliminar?Conteo=@item.Conteo" class="btn btn-warning">Baja</a></td>
        </tr>
    }
</table>
